.Checkout {
    width: 100%;
    padding: 30px 10%;
    margin-bottom: 10%;
    display: flex;
    gap: 20px;
}

.Checkout_Menu {
    width: 80%;
}

.Checkout_Menu h2 {
    font-size: 20px;
    line-height: 20px;
    color: #4d5959;
}

.Checkout_Menu_p {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-unac);
    color: var(--text-blanco);
    font-weight: 300;
}


.Checkout_Menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.Checkout_Menu ul li {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #00000034;
    padding-bottom: 10px;
    cursor: pointer;
}

.Checkout_Menu ul .Activo {
    border-bottom: 4px solid var(--text-unac);
    padding-bottom: 10px;
}

.Checkout_Content {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 5%;
}

.Checkout_Content_Informacion {
    width: 100%;
}

.Checkout_Carrito {
    width: 100%;
}


.Checkout_Carrito_Content {
    width: 100%;
    border: 1px solid #00000013;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow-x: auto;
}

.Checkout_Carrito_Content table {
    width: 100%;
    border-collapse: collapse;
}

.Checkout_Carrito_Content table th,
.Checkout_Carrito_Content table td {
    text-align: center;
    margin-top: 20px;
    position: relative;
}


.tdImagenes {
    display: flex;
    align-items: center;
}

.tdImagenes {
    display: flex;
    align-items: center;
}



.Checkout_Carrito_Content img {
    width: 50px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Checkout_Carrito_Content .ShoppingCart_Producto--Content--Info-Cantidad {
    margin-top: 10px;
    width: 100%;
}



.Checkout_Carrito_Content .iconoRemove {
    color: rgb(179, 6, 6);
    cursor: pointer;
}

.Checkout_Info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.Checkout_Info div p {
    font-size: 15px;
    line-height: 20px;
    color: #2e3535;
    margin: 20px 0;
    font-style: italic;
}


.Checkout_Info .Checkout_Info_p {
    font-size: 16px;
    line-height: 20px;
    color: #2e3535;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}

.Checkout_Info .Checkout_Info_p span {
    font-size: 16px;
    line-height: 20px;
    color: #222727;
    font-weight: 600;
}

.Checkout_Info button {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    border: solid 1px #4e4e4e2d;
    border-radius: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
    margin-left: 10%;
    margin-top: 10%;
}

.Checkout_Info button .icono {
    margin-right: 10px;
}

.Checkout_Info button:hover {
    background-color: #000000;
    color: #fff;
}

.Checkout_Envio p {
    font-size: 15px;
    line-height: 20px;
    color: #2e3535;
    margin: 20px 0;
    font-style: italic;
}

.Checkout_Envio ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 40px;
}

.Checkout_Envio li {
    display: flex;
}

.Checkout_Envio img {
    width: 20px;
    margin-right: 10px;
}

.Checkout_Envio .Activo {
    border-bottom: 4px solid var(--text-unac);
    padding-bottom: 10px;
}

.Checkout_Envio_Direccion {
    width: 100%;
    margin-top: 40px;
}

.Checkout_Envio_Direccion_Usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Checkout_Envio_Direccion_Usuario h2 {
    font-size: 22px;
    line-height: 20px;
    color: #000000;
}

.Checkout_Envio_Direccion_Usuario h4 {
    font-size: 18px;
    line-height: 20px;
    color: #4d5959;
    margin-top: 5px;
}

.Checkout_Envio_Direccion_Usuario div h3 {
    font-weight: 200;
}

.Checkout_Envio_Direccion_Usuario div h3 b {
    font-weight: 500;
    color: #5a5a5a;
}



.Checkout_Envio_Direccion_Usuario span {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    border: solid 1px #4e4e4e2d;
    border-radius: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-top: 40px;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
    margin: 0;
}

.Checkout_Envio_Direccion_Usuario span .icono {
    margin-right: 10px;
}

.Checkout_Envio_Direccion_Usuario span:hover {
    background-color: #000000;
    color: #fff;
}



.Checkout_Envio_Direccion_Ubicacion {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.Checkout_Envio_Direccion_Ubicacion h5 {
    margin-bottom: 20px;
}

.Checkout_Envio_Recoger {
    width: 100%;
    margin-top: 40px;
}

.Checkout_Envio_Recoger_Info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Checkout_Envio_Recoger_Info .icono {
    font-size: 60px;
    margin-bottom: 30px;
}

.Checkout_Envio_Recoger_Info h2 {
    font-size: 22px;
    line-height: 20px;
    color: #000000;
}

.Checkout_Envio_Recoger_Info h4 {
    font-size: 18px;
    line-height: 20px;
    color: #4d5959;
    margin-top: 5px;
}

.Checkout_Envio_Recoger_Info p {
    margin-top: 0;
}

.Checkout_Envio_Recoger_horarios {
    width: 100%;
}

.Checkout_Envio_Recoger_horarios h3 {
    font-size: 18px;
    line-height: 20px;
    color: #4d5959;
}

.Checkout_Envio_Recoger_horarios table {
    width: 100%;
    margin-top: 10px;
}

.Checkout_Envio_Recoger_horarios table tr {
    width: 100%;
    height: 40px;
}

.Checkout_Envio_Recoger_horarios table tr td {
    width: 50%;
    border-bottom: 1px solid #0000001c;
}

.Checkout_Envio_Recoger_Responsable {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.Boton_Continuar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.Boton_Continuar button {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: var(--bg-unac);
    border: none;
    color: var(--text-blanco);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
}


.Boton_Continuar button .icono {
    margin-left: 10px;
}

.Boton_Continuar button:hover {
    background-color: #000000;
    color: #fff;
}

.Boton_FinalizarCompra {
    width: 100%;
    margin-top: 40px;
}

.Boton_FinalizarCompra button {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: var(--bg-unac);
    border: none;
    color: var(--text-blanco);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
}


.Boton_FinalizarCompra button .icono {
    margin-left: 10px;
}

.Boton_FinalizarCompra button:hover {
    background-color: #000000;
    color: #fff;
}

.Boton_FinalizarCompra p {
    margin-top: 20px;
    text-align: center;
    color: #07940e;
}

.Boton_finalizar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.Boton_finalizar button,
.Boton_finalizar a {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: var(--bg-unac);
    border: none;
    color: var(--text-blanco);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
}

.Boton_finalizar button:nth-child(1),
.Boton_finalizar a {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #494949;
    text-decoration: none;
}


.Boton_finalizar button .icono {
    margin-right: 10px;
}

.Boton_finalizar button:hover {
    background-color: #000000;
    color: #fff;
}

.Checkout_Content_Finalizar {
    display: flex;
    gap: 30px;

}

.Checkout_Content_Producto {
    width: 80%;
    max-height: 60vh;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Checkout_Content_Producto::-webkit-scrollbar {
    width: 3px;
}

.Checkout_Content_Producto::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Checkout_Content_Producto::-webkit-scrollbar-track {
    background-color: #262b3400;
}



.Checkout_Content_Finalizar_Info {
    width: 100%;
    margin-top: 20px;
}

.Checkout_Content_Finalizar_Info h2 {
    font-size: 15px;
    line-height: 20px;
    color: #2e3535;
    font-style: italic;
    margin-bottom: 10px;
}


.Checkout_Content_Finalizar_Info p {
    font-size: 14px;
    line-height: 20px;
    color: #2e3535;
    font-weight: 400;
    margin: 0;
}

.Checkout_Content_Finalizar_Info p span {
    font-size: 14px;
    line-height: 20px;
    color: #222727;
    font-weight: 600;
}

.Checkout_Content_Producto_items {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    overflow: hidden;
}

.Checkout_Content_Producto_items img {
    width: 45%;
    height: 180px;
}

.Checkout_Content_Producto_items-Info {
    width: 55%;
    margin-left: 10px;
}

.Checkout_Content_Producto_items-Info h3 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 400;
}

.Checkout_Content_Producto_items-Info h3 span {
    font-size: 15px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.Checkout_Content_Resumen {
    width: 20%;
    height: auto;
    background-color: var(--bg-gris-claro);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
    margin-top: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
}

.Checkout_Content_Resumen h2 {
    margin-top: 15px;
    font-weight: 400;
}

.Checkout_Content_Resumen_Cupon {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #68686823;
    padding: 20px 0;
}

.Checkout_Content_Resumen_Cupon_usar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.Checkout_Content_Resumen_Cupon_usar h4 {
    font-size: 17px;
    color: #000000;
    font-weight: 400;
}

.Checkout_Content_Resumen_Cupon_usar .icono {
    font-size: 17px;
    color: #000000;
    font-weight: 400;

}

.Checkout_Content_Resumen_Cupon_input {
    width: 100%;
}

.Checkout_Content_Resumen_Cupon_botones {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.Checkout_Content_Resumen_Cupon_botones button {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    border: solid 1px #4e4e4e2d;
    border-radius: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-top: 40px;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
    margin: 0;
}

button:nth-child(2) {
    background-color: #000000;
    color: #fff;
}

.Checkout_Content_Resumen_Cupon_botones button:hover {
    background-color: #000000;
    color: #fff;
}

.textCupon {
    font-size: 17px;
    color: #ff0000;
    font-weight: 400;
    margin-top: 10px;
    text-align: right;
}

.textCuponExitoso {
    color: #07940e;
}


.Checkout_Content_Resumen_valores,
.Checkout_Content_Resumen_Tvalores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Checkout_Content_Resumen_valores h3 span {
    margin-top: 14px;
    font-weight: 400;
}

.Checkout_Content_Resumen_valores h3 {
    margin-top: 14px;
    font-weight: 200;
}

.Checkout_Content_Resumen_Tvalores span {
    margin-top: 17px;
    font-weight: 600;
}

.Checkout_Content_Resumen_Tvalores h3 {
    margin-top: 17px;
    font-weight: 500;
}

.Checkout_Content_Resumen_valores_P {
    text-align: right;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
}

.valorDescuento {
    color: rgb(194, 9, 9);
}

.Checkout_Content_Resumen .volverCarrito {
    margin-top: 20px;
    text-decoration: underline;
    color: var(--text-unac);
    cursor: pointer;
    margin-bottom: 20px;
}

.Checkout_Content_Resumen .Boton_Continuar button {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: var(--bg-unac);
    border: none;
    color: var(--text-blanco);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
}


.Checkout_Content_Resumen .Boton_Continuar button .icono {
    margin-right: 10px;
}

.Checkout_Content_Resumen .Boton_Continuar button:hover {
    background-color: #000000;
    color: #fff;
}

.Checkout_Content_Resumen-null {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    padding: 0 35%;
}

.Checkout_Content_Resumen-null .icono {
    font-size: 80px;
    opacity: 0.5;
}

.Checkout_Content_Resumen-null p {
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;
}

.Checkout_Content_Resumen-null a {
    width: 100%;
    height: 50px;
    background-color: var(--bg-unac);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: var(--text-blanco);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.CompraExitosa {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.CompraExitosa::-webkit-scrollbar {
    width: 3px;
}

.CompraExitosa::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.CompraExitosa::-webkit-scrollbar-track {
    background-color: #262b3400;
}

.order-confirmation {
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 650px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.order-confirmation h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.order-confirmation p {
    margin: 10px 0;
}

.order-confirmation ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.order-confirmation li {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

.order-confirmation span {
    font-weight: bold;
    display: block;
    margin-top: 5px;
    font-size: 18px;
}

.order-confirmation p:last-of-type {
    margin-top: 30px;
    text-align: center;
}


.order-confirmation a {
    width: 100%;
    height: 50px;
    background-color: var(--bg-unac);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: var(--text-blanco);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.order-confirmation img {
    width: 40px !important;
    height: 40px !important;
}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {

    .Checkout {
        width: 100%;
        display: block;
    }

    .Checkout_Menu_p {
        font-size: 15px;
    }

    .Checkout_Menu {
        width: 100%;
    }

    .Checkout_Menu ul {
        display: block;
    }

    .Checkout_Menu ul li {
        font-size: 18px;
        margin-bottom: 10px;
    }


    .Checkout_Carrito_Content table, 
    .Checkout_Carrito_Content table thead, 
    .Checkout_Carrito_Content table tbody, 
    .Checkout_Carrito_Content table th, 
    .Checkout_Carrito_Content table td, 
    .Checkout_Carrito_Content table tr {
        display: block;
    }

    .Checkout_Carrito_Content table tr {
        margin-bottom: 15px; 
        border-bottom: 1px solid #000000; 
    }

    .Checkout_Carrito_Content table td {
        text-align: left;
        padding-left: 50%;
        border-bottom: none;
        border-right: 1px solid #00000013; 
    }

    .Checkout_Carrito_Content table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        z-index: 1; 
        background-color: #f5f5f5;
        border-right: 1px solid #00000013; 
    }

    .Checkout_Carrito_Content table th {
        display: none; 
    }

    .Checkout_Content_Resumen {
        width: 100%;
        position: initial;
    }

    .Checkout_Envio_Direccion_Usuario {
        display: block;
    }

    .Checkout_Envio_Direccion_Usuario span{
        margin-top: 20px;
    }

    .Checkout_Envio_Direccion_Usuario h2 {
        font-size: 18px;
    }
    
    .Checkout_Envio_Direccion_Usuario h4 {
        font-size: 15px;
    }
    
    .Checkout_Envio_Direccion_Usuario div h3 {
        font-size: 15px;
    }

    .Checkout_Envio_Recoger_horarios table tr td {
        font-size: 12px;
    }

    .Checkout_Envio_Recoger_Responsable {
        display: block;
    }

    .Checkout_Content_Finalizar {
        display: block;
    
    }

    .Checkout_Content_Producto {
        width: 100%;
        max-height: 60vh;
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 10px;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}