.Login {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000096;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    z-index: 1001;
}

.Login_content-cerrar {
    width: 70%;
    height: 100vh;
    cursor: pointer;
}

.Login_content {
    width: 30%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.Login_content::-webkit-scrollbar {
    width: 5px;
}

.Login_content::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Login_content::-webkit-scrollbar-track {
    background-color: #262b3400;
}


.Login_content_header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.Login_content_header-volver {
    justify-content: space-between;
}

.Login_content_header .icono {
    font-size: 25px;
    cursor: pointer;
}

.Login_content_titulo h2 {
    font-size: 35px;
    font-style: normal;
    text-align: center;
}

.Login_content_titulo h3 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    color: #4d5959;
    display: block;
    font-weight: 400;
}

.Login_content_titulo p {
    color: var(--bg-color-Gris-Claro);
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
}

.Login_content_body {
    margin-top: 30px;
}

.Login_content_body-msg {
    color: #00000069;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Login_content_body-input {
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.Login_content_body-input  .VerContraseña {
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.Input_Error {
    border: #e1091094 solid 1px;
}

.Login_content_body-input .Error {
    color: #ff0808;
    text-align: right;
    font-style: italic;
    font-size: 12px;
}

.Login_Respuesta {
    color: #ff0808;
    text-align: right;
    font-style: italic;
    font-size: 15px;
    margin-top: 15px;
}

.Login_content_body-olvido {
    display: flex;
    justify-content: right;
}

.Login_content_body-olvido a {
    color: var(--text-unac);
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.Login_content_body-registro {
    width: 90%;
    margin: 30px 20px;
}

.Login_content_body-registro p {
    color: var(--text-gris-opacidad);
    position: relative;
    text-align: center;
}

.Login_content_body-registro p::before,
.Login_content_body-registro p::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 25%;
    height: 1px;
    background-color: var(--border-negroClaro);
}

.Login_content_body-registro p::before {
    left: 0;
    transform: translateY(-50%);
}

.Login_content_body-registro p::after {
    right: 0;
    transform: translateY(-50%);
}

.Login_content_body-registro button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-gris-claro);
    color: #00000085;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: 1px solid #c4c8ce4f;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    color: #c4c8cea0 !important;
}

.Login_content_body-boton-Continuar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Login_content_body-boton-Continuar span {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #5858582f;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: 1px solid #c4c8ce4f;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Login_content_body-boton-Continuar span:hover {
    background-color: #8282822f;
}

.Login_content_body-boton-Continuar span .icono {
    margin-left: 10px;
    font-size: 20px;
}

.Login_content_body-texto {
    color: #c4c8ce82;
    margin-top: 10px;
    font-size: 13px;
}

.Login_content_body-image {
    width: 100%;
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.Login_content_body-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Login_content_body-image-select {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #00000093;
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
}

.Login_content_body-image-select p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.Login_content_body-registro-Exito {
    margin-top: 10px;
}

.Login_content_body-registro-Exito h3 {
    color: #ffffff;
    text-align: center;
    font-size: 23px;
    margin-bottom: 10px;
}

.Login_content_body-registro-Exito p {
    color: #dfdfdf;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}


.input_fecha_login .Pickers {
    width: 100%;
}