.Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Header_Content {
    width: 95%;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(173, 173, 173) 82%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 15% 5% 5% 10%;
    position: relative;
}


.Header_Content--text h3 {
    font-size: 2.5em;
    color: var(--text-blanco);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-bottom: 5px;
}

.Header_Content--text h2 {
    font-size: 6em;
    margin-top: -15px;
    font-family: "Roboto", sans-serif;
    color: #fafafa94;
}

.Header_Content--text h1 {
    font-size: 170px;
    text-transform: uppercase;
    color: var(--text-blanco);
    font-family: "Roboto", sans-serif;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1000;
}

.Header_Content--description {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-top: 20%;
}

.Header_Content--description button {
    width: 350px;
    height: 60px;
    font-size: 20px;
    background-color: var(--bg-unac);
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 10px;
    color: var(--text-blanco);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.Header_Content--description div {
    text-align: right;
    width: 300px;
}

.Header_Content--description div p {
    color: var(--text-gris-opacidad);
}

.Header_Content img {
    width: 800px;
    position: absolute;
    top: 10%;
    left: 35%;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {

    .Header_Content {
        width: 95%;
        height: 90vh;
    }

    .Header_Content--text {
        text-align: center;
    }

    .Header_Content--text h3 {
        font-size: 1.5em;
    }

    .Header_Content--text h2 {
        font-size: 3em;
    }

    .Header_Content--text h1 {
        font-size: 60px;
        top: 25%;
        left: 5%;
    }

    .Header_Content--description {
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-top: 0;
    }

    .Header_Content--description div {
        text-align: center;
        width: 300px;
        display: none;
    }

    .Header_Content--description button {
        width: 250px;
        height: 50px;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 120%;
    }

    .Header_Content img {
        width: 400px;
        position: absolute;
        top: 45%;
        left: -5%;
        transform: rotate(18deg);
        -webkit-transform: rotate(18deg);
        -moz-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        -o-transform: rotate(18deg);
    }

   

}