.Header {
    width: 100%;
    padding: 30px 5%;
    
}

.Header_Content {
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(228, 227, 227) 82%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5%;
    position: relative;
    overflow: hidden;
}

.Header_Content--text {
    width: 100%;
    position: relative;
    z-index: 100;
}

.Header_Content--text h3 {
    font-size: 2.5em;
    color: #21476b;
    font-weight: 100;
    margin-bottom: 5px;
}

.Header_Content--text h2 {
    font-size: 6em;
    margin-top: -15px;
    color: #28608d;
}

.Header_Content--text h1 {
    font-size: 12em;
    text-transform: uppercase;
    color: #28608d;
    font-weight: 800;
    margin-top: -20px;
}


.Header_Content  img {
    width: 30%;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 10;
}

.Header_Content .svg {
    position: absolute;
    top: 0;
    right: 0%;
    width: 720px;
    animation-name: rotateme;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0.6;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
    }
}



@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {

    .Header_Content {
        width: 100%;
        height: 90vh;
    }

    .Header_Content--text {
        text-align: center;
        margin-top: -30px;
    }

    .Header_Content--text h3 {
        font-size: 1.5em;
    }

    .Header_Content--text h2 {
        font-size: 3em;
    }

    .Header_Content--text h1 {
        font-size: 60px;
        top: 25%;
        left: 5%;
    }

    .Header_Content img {
        width: 400px;
        position: absolute;
        top: 45%;
        left: -5%;
        transform: rotate(18deg);
        -webkit-transform: rotate(18deg);
        -moz-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        -o-transform: rotate(18deg);
    }
}