.Header_Dashboard {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Header_Iconos {
    display: flex;

}

.Header_Iconos .icono {
    font-size: 25px;
    margin-right: 10px;
    color: #03030379;
    padding: 5px;
}


.Header_Iconos_content {
    display: flex;
    position: relative;
    cursor: pointer;

}

.Header_Iconos_content div {
    position: absolute;
    top: -7px;
    right: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A5783;

   border-radius: 100% 100% 100% 5px;
    -webkit-border-radius: 100% 100% 100% 5px;
    -moz-border-radius: 100% 100% 100% 5px;
    -ms-border-radius: 100% 100% 100% 5px;
    -o-border-radius: 100% 100% 100% 5px;
    animation: divanimate 2s infinite;
    -webkit-animation: divanimate 2s infinite;
}

.Header_Iconos_content div p {
    font-size: 10px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    animation: divanimate 2s infinite;
    -webkit-animation: divanimate 2s infinite;
}


.Header_Perfil {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.Header_Perfil:hover {
    background-color: #def8fa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Header_Perfil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Header_Perfil h2 {
    color: #0303039f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}