.Header_Dashboard {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Header_Iconos {
    margin-right: 10px;
    margin-top: 10px;
}

.Header_Iconos .icono {
    font-size: 20px;
    margin-right: 10px;
    color: #0303039f;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.Header_Iconos .icono:nth-child(1)::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1677ff;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Header_Iconos .icono:nth-child(2)::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #23cb8d;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.Header_Iconos .icono:hover {
    background-color: #def8fa;
}

.Header_Perfil {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.Header_Perfil:hover {
    background-color: #def8fa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Header_Perfil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Header_Perfil h2 {
    color: #0303039f;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}