.ShoppingCart {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000096;
    z-index: 1000;
    display: flex;
    justify-content: right;
    z-index: 10001;
    backdrop-filter: blur(3px);
}

.ShoppingCart--cerrar {
    width: 77%;
    height: 100vh;
}

.ShoppingCart_Content {
    width: 23%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ShoppingCart_Content::-webkit-scrollbar {
    width: 3px;
}

.ShoppingCart_Content::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ShoppingCart_Content::-webkit-scrollbar-track {
    background-color: #262b3400;
}

.ShoppingCart_Content--Encabezado {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
}

.ShoppingCart_Content--Encabezado .icono {
    font-size: 25px;
    cursor: pointer;
}

.ShoppingCart_Content--body {
    width: 100%;
    padding: 10px;
}

.ShoppingCart_Content--body--indicador {
    margin-top: 5px;
}

.ShoppingCart_Content--body--indicador p {
    font-size: 15px;
    color: #00000053;
}

.ShoppingCart_Content--body--indicador p span {
    color: green;
    font-weight: 700;
    margin: 0 5px;
}

.ShoppingCart_Content--body--indicador p strong {
    color: #000000;
    font-weight: 300;
}

.indicador {
    width: 100%;
    height: 9px;
    background-color: rgba(153, 153, 153, .15);
    margin: 13.5px 0 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.indicador div {
    background-size: 40px;
    animation: 5s linear infinite bar-progress;
    height: 9px;
    background-image: url(../../../assets/img/svg.png);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-animation: 5s linear infinite bar-progress;
}

@keyframes bar-progress {
    from {
        background-position: 0 0
    }

    to {
        background-position: -60px -60px
    }
}

.indicador .icono {
    font-size: 20px;
    margin-left: 5px;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}

.ShoppingCart_Producto {
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    padding-top: 20px;
    padding-right: 10px;
    border-top: 1px solid var(--border-negroClaro);
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ShoppingCart_Producto::-webkit-scrollbar {
    width: 3px;
}

.ShoppingCart_Producto::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ShoppingCart_Producto::-webkit-scrollbar-track {
    background-color: #262b3400;
}



.ShoppingCart_Producto--Content {
    display: flex;
    border-bottom: 1px solid var(--border-negroClaro);
    padding-bottom: 20px;
    padding: 10px 0;
}

.ShoppingCart_Producto--Content--imagen {
    width: 30%;
}

.ShoppingCart_Producto--Content--imagen img {
    width: 100%;
}

.ShoppingCart_Producto--Content--Info {
    width: 70%;
    padding: 0 10px;
}

.ShoppingCart_Producto--Content--Info a {
    text-decoration: none;
}

.ShoppingCart_Producto--Content--Info h3 {
    font-size: 14px;
    line-height: 20px;
    color: #4d5959;
    display: block;
    font-weight: 400;
}

.ShoppingCart_Producto--Content--Info h3 span {
    font-size: 14px;
    line-height: 20px;
    color: #202525;
    font-weight: 700;
}

.ShoppingCart_Producto--Content--Info h4 {
    font-size: 16px;
    line-height: 20px;
    color: #323a3a;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

.ShoppingCart_Producto--Content--Info-Cantidad {
    width: 120px;
    height: 30px;
    border: 1px solid #00000033;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.ShoppingCart_Producto--Content--Info-Cantidad .icono {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.ShoppingCart_Producto--Content--Info-Cantidad p {
    font-size: 15px;
    user-select: none;
}

.ShoppingCart_Producto--Content .iconoRemove {
    cursor: pointer;
    color: firebrick;
}

.ShoppingCart_Footer {
    width: 100%;
    padding: 0 10px;
    padding-top: 10px;
    border-top: 1px solid var(--border-negroClaro);
}

.ShoppingCart_Encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ShoppingCart_Botones a {
    width: 100%;
    height: 40px;
    background-color: var(--bg-unac);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: var(--text-blanco);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.ShoppingCart_Botones button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    border: solid 1px var(--bg-menu);
}

.ShoppingCart_Producto-null {
    text-align: center;
    margin-top: 40%;
}

.ShoppingCart_Producto-null .icono {
    font-size: 80px;
    opacity: 0.5;
}

.ShoppingCart_Producto-null p {
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;

}

.ShoppingCart_Producto-null button {
    width: 80%;
    height: 50px;
    background-color: var(--bg-unac);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    margin-top: 20px;
    color: var(--text-blanco);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {
    .ShoppingCart--cerrar {
        width: 0%;
    }

    .ShoppingCart_Content {
        width: 100%;
    }
}