.Informativo {
    width: 90%;
    margin: 0 5%;
    margin-top: 5%;
    border-radius: 30px;
    background-color: var(--bg-unac);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.Informativo img {
    width: 30%;
}

.Informativo_Text h2 {
    font-size: 65px;
    color: #7ecae898;
    text-transform: uppercase;
}

.Informativo_Text h3 {
    font-size: 35px;
    color: var(--text-blanco);
    text-transform: uppercase;
}

.Informativo_Text p {
    font-size: 20px;
    color: var(--text-blanco);
    opacity: 0.7;
    margin-top: 20px;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {

    
    .Informativo {
        display: block;
        height: auto;
    }

    .Informativo img {
        width: 100%;
    }
    
}