.Menu {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 40px 50px 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-blanco);
}

.Menu_left {
    width: 60%;
    display: flex;
    align-items: center;
}

.Menu_left img {
    width: 150px;
}

.Menu_left ul {
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;
}

.Menu_left ul a {
    text-decoration: none;
    color: var(--text-menu);
}

.Menu_left ul li {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text-menu);
    cursor: pointer;
}


.Menu_right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.Menu_right--icono {
    position: relative;
}

.Menu_right--icono div {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -12px;
    right: -5px;
    background-color: #2A5783;
    border-radius: 100% 100% 100% 5px;
    -webkit-border-radius: 100% 100% 100% 5px;
    -moz-border-radius: 100% 100% 100% 5px;
    -ms-border-radius: 100% 100% 100% 5px;
    -o-border-radius: 100% 100% 100% 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: divanimate 2s infinite;
    -webkit-animation: divanimate 2s infinite;
}

@keyframes divanimate {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    25% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    75% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    10% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.Menu_right--icono div p {
    font-size: 13px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    animation: divanimate 2s infinite;
    -webkit-animation: divanimate 2s infinite;
}

.Menu_right p {
    font-weight: 100;
    cursor: pointer;
}

.Menu_right .icono {
    font-size: 25px;
    margin: 0 10px;
    color: #00000085 !important;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
    font-weight: 100 !important;
    ;
    font-style: normal;
    color: var(--text-menu);
    cursor: pointer;
}

.Menu_right .icono:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: #b59677;
}

.Menu_right button {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: var(--bg-unac);
    color: var(--text-blanco);
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-left: 20px;
    transition: .35s cubic-bezier(.25, .1, .25, 1);
}

.Menu_right button:hover {
    background-color: var(--bg-unac-hover);
}

.Menu_right button .icono {
    font-size: 20px;
    margin-right: 10px;
    color: var(--text-blanco) !important;
}

.Menu_right_Perfil {
    margin-left: 20px;
}

.Menu_right_Perfil h4 {
    color: var(--bg-unac);
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.Menu_right_Perfil_Content {
    width: 200px;
    position: absolute;
    top: 10%;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    z-index: 10001;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.219);
    -moz-box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.219);
    box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.219);
}

.Menu_right_Perfil_Content ul {
    list-style: none;
    text-align: center;
}

.Menu_right_Perfil_Content ul a {
    text-decoration: none;
}

.Menu_right_Perfil_Content ul li {
    color: #00000085;

    padding: 5px 0;
    cursor: pointer;
    font-size: 12px;
}

.Menu_right_Perfil_Content ul li:nth-child(1) {
    border-bottom: 1px solid #92929218;
    margin-bottom: 10px;
}

.Menu .Notification {
    top: 82px;
    right: 200px;
    z-index: 10001;
}

.iconoMenu .icono {
    display: none;
}

.iconoUsuario {
    display: none;
}


.Menu_right_Menu_Content {
    position: absolute;
    top: 12%;
    left: 10px;
    display: none;
}


@media screen and (max-width: 1024px) {}


@media screen and (max-width: 700px) {

    .Menu {
        margin-top: 10px;
        padding: 20px;
    }

    .Menu_left img {
        width: 80px;
    }

    .Menu_right_Perfil h4 {
        display: none;
    }

    .Menu_left ul {
        display: none;

    }

    .Menu_right .Menu_right_ayuda {
        display: none;
    }

    .Menu_right .icono {
        font-size: 25px;
        margin: 0 5px;
    }

    .Menu_right_buscar {
        display: none;
    }

    .iconoMenu .icono {
        display: block;
    }

    .iconoUsuario {
        display: block;
    }



    .Menu_right--icono div {
        width: 14px;
        height: 14px;
        top: -10px;
        right: 0px;
        border-radius: 100% 100% 100% 1px;
        -webkit-border-radius: 100% 100% 100% 1px;
        -moz-border-radius: 100% 100% 100% 1px;
        -ms-border-radius: 100% 100% 100% 1px;
        -o-border-radius: 100% 100% 100% 1px;
    }

    .Menu_right--icono div p {
        font-size: 10px;
    }

    .Menu_right_Menu_Content {
        display: block;
    }

    .Menu_right button {
        width: 100px;
        height: 35px;
        padding: 5px 10px;
        margin-left: 0px;
    }

    .Menu_right button .icono {
        font-size: 15px;
        margin-right: 5px;
    }
}