.Notification {
    width: 100%;
    min-width: 250px;
    max-width: 380px;
    position: absolute;
    top: 62px;
    right: 250px;
    background-color: #ffffff;
    color: #262626;
    border-radius: 4px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.09);
    animation: subirDesdeAbajo 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation: subirDesdeAbajo 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

.Notification button {
    background: none;
    border: none;
    color: #1677ff;
    font-size: 11px;
    cursor: pointer;
}

.Notification_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.Notification_header h3 {
    color: #333333;
    font-size: 15px;
}

.Notification_content {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.Notification_content::-webkit-scrollbar {
    width: 5px;
}

.Notification_content::-webkit-scrollbar-thumb {
    background-color: #00000076;
    border-radius: 5px;
}

.Notification_content-items {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s ease;
}

.Notification_content-items:hover {
    background-color: #f5f5f5;
}

.Notification_content a {
    text-decoration: none;
}

.Notification_content-items .icono {
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-radius: 50%;
    padding: 6px;
    color: white;
}

.Notification_content-items-content {
    width: 100%;
    padding: 5px;
}

.Notification_content-items-content p {
    font-size: 14px;
    margin: 0;
    color: #000000;
}




.Notification_content-items-content p span {
    font-weight: 800;
    color: #174164;
}


.Notification_content-items-content .items_fecha {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    font-size: 12px;
    color: #888888;
    margin-top: 10px;
}

.Notification_Pedidos .icono {
    background-color: #4CAF50;
}

.Notification_Error .icono {
    background-color: #FF5722;
}

.Notification_Soporte .icono {
    background-color: #2196F3;
}

.Notification_Comentario .icono {
    background-color: #FF9800;
}

.Notification_Envio .icono {
    background-color: #3f51b5;
}

.Notification_Cancelacion .icono {
    background-color: #f44336;
}

.Notification_footer {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eaeaea;
}

.Notification_Nueva {
    background-color: #eeeded;
}




.Notification_registro div {
    background-color: #16ffaa98;
}

.Notification_grupal div {
    background-color: #bcdf1198;
}

.Notification_correo div {
    background-color: #02834f98;
}